<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second page</title>
    <link rel = 'stylesheet' href = '/static/css/main.css'>
</head>
<body>

<h1>Вторая страница</h1>

<p>
Для расчёта средней зарплаты по регионам воспользуйтесь формой:
</p>

<br>
<hr>
<br>

<form action="/form_3" method="post">
  <label for="vacancy">Введите вакансию:</label>
  <input type="text" id="vacancy" name="vacancy">
  <label for="area">Введите регион:</label>
  <input type="text" id="area" name="area">
  <button type="submit">Submit</button>
</form>

<br>
<hr>
<br>

<a href = 'main' class = class1>Первая страница</a><br>
<a href = 'form_2' class = class2>Вторая страница</a><br>

</body>
</html>